body {
    background-color: rgb(204, 155, 95);
    font-family: Helvetica, sans-serif;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 5px;
    width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
}

.pop-up {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;


    width: 300px;
    height: 300px;
    z-index: 2;
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 20px;
}

input {
    flex-grow: 0;
    flex-shrink: 0;
}

label {
    font-weight: bold;
}