:root {
    --button-bg: rgb(94, 94, 253);
}

body {
    background-color: rgb(253, 223, 184);
    font-family: Helvetica, sans-serif;
    padding: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 5px;
    width: 200px;
    flex-shrink: 0;
    flex-grow: 0;


    border: 1px dotted black;
}

.pop-up {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;


    width: 300px;
    height: 300px;
    z-index: 2;
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;

    padding: 80px;

    border: 2px solid black;
}

input {
    flex-grow: 0;
    flex-shrink: 0;
}

label {
    font-weight: bold;
}

button {
    background-color: rgb(255, 246, 246);
    border: 0;
    border-radius: 5px;
}

.addBook {
    background-color: var(--button-bg);
    color: white;

    position: fixed;
    bottom: 10px;
    right: 10px;

    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    width: 50px;
    height: 50px;
}

.addBook::after {
    content: "+";
    color: white;
    font-size: 68px;
    position: fixed;
    bottom: 0px;
    right: 13px;
}

.addBook:hover {
    background-color: rgba(94, 94, 253, 0.8);
}

.deleteButton {
    align-self: flex-end;
    border: 1px solid black;
    border-radius: 50%;
    /* color: white; */
    /* border-color: white;
    background-color: rgb(209, 62, 62); */
}

.deleteButton:hover {
    color: white;
    border-color: white;
    background-color: rgba(209, 62, 62, 0.8);
}

.title {
    font-weight: bold;
}

.isRead {
    align-self: flex-start;
    margin: 0;
}

.popUpButton {
    padding: 10px;
    background-color: var(--button-bg);
    color: white;
}

.popUpButton:hover {
    background-color: rgba(94, 94, 253, 0.8);
}


